<div class="container mt-3">
  <app-count-empleados [todos]="obtenerTotalEmpleados()"
                       [masculino]="obtenerTotalMasculinos()"
                       [femenino]="obtenerTotalFemeninos()"
                       (countRadioButtonChange)="empleadoCountRadioButtonChange($event)"></app-count-empleados>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let emp of listEmpleado">
                    <tr *ngIf="radioButtonSeleccionado == 'Todos' ||  radioButtonSeleccionado == emp.sexo">
                      <td>{{emp.archivo}}</td>
                      <td>{{emp.nombre}}</td>
                      <td>{{emp.apellido}}</td>
                      <td>{{emp.sexo}}</td>
                      <td>{{emp.salario | currency}}</td>
                    </tr>
                  </ng-container>

                </tbody>
              </table>
        </div>
    </div>
</div>
